body {
    background: conic-gradient(from 180deg at 50% 50%, #fd9f0880 0deg, rgba(253, 160, 8, 0) 181.87deg, #fd9f0880 360deg);
     font-family: 'Verdana', Courier, monospace;
     margin: 0%;
     
     
 }
 h1 { font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 color: rgb(0, 27, 12);
 }
 
 nav li {  Display:inline-block;
     padding: 40px;
     margin-top: 80px;
   
 
 }
 nav a {
     color: rgb(205, 205, 205);
     text-decoration: none;
     padding:20px ;
 }   
 nav a:hover { 
     text-decoration: underline;
 }
 
 nav ul {
     padding: 20px;
 
 }
 
 .active {
     background-color: blueviolet;
     color :white
 }
 
 
 header {
     background-image: url('iStock-516189065\ copy.jpg');
     background-repeat: no-repeat;
     
     max-width: 1440px;
     padding-top: 10px;
     padding-bottom: 10px;
     margin-left: auto;
     margin-right: auto;
     
 }
 header {
     position: relative;
 
 }
 
 nav {
     position: absolute;
     top: 0;
     right: 0;
 }


 footer li { 
         color: #000;
         display: inline-block
 }
 
 
 
 footer::before, footer::after{
     content: "/";
     font-size: 50px;
     color: rgb(79, 11, 113);
 }
 .footer {
     position:fix;
     Color:white;
     background: #25205B;
     width: 1440px;
     height: 144px;
     margin-left: auto;
     margin-right: auto;
 }

 .stay {
  position: relative;

 }
 .spaceman {
   margin-left: auto;
   margin-right: auto;
   

 }

 