body {
    background: conic-gradient(from 180deg at 50% 50%, #FDA008 0deg, rgba(253, 160, 8, 0) 181.87deg, #FDA008 360deg);
     font-family: 'Verdana', Courier, monospace;
     margin: 0%;
 }
 h1 { font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 color: rgb(0, 27, 12);
 }
 
 nav li {  Display:inline-block;
    padding: 40px;
    margin-top: 80px;
 
 }
 nav a {
     color: rgb(205, 205, 205);
     text-decoration: none;
     padding:20px ;
 }   
 nav a:hover { 
     text-decoration: underline;
 }
 
 nav ul {
     padding: 20px;
 
 }
 
 .active {
     background-color: blueviolet;
     color :white
 }
 
 
 header {
     background-image: url('iStock-516189065\ copy.jpg');
     background-repeat: no-repeat;
    
     max-width: 1440px;
     padding-top: 10px;
     padding-bottom: 10px;
     margin-left: auto;
     margin-right: auto;
     
 }
 header {
     position: relative;
 }
       
 nav {
     position: absolute;
     top: 0;
     right: 0;
 }
 .movies {
    background-color: rgb(144, 136, 135);
    width: 400px;
    height: 400px;
    margin: 20px;
    color: rgb(62, 34, 34);
    padding: 20px;
    resize: both;
    overflow: auto

}


footer li { 
    color: #000;
    display: inline-block
}

.movies{
background: conic-gradient(from 180deg at 50% 50%, rgba(74, 142, 157, 0.53) -179.77deg, #4A8E9D 156.82deg, rgba(74, 142, 157, 0.53) 180.23deg, #4A8E9D 516.82deg);
width: 1300px;
height: 1365px;
left: 70px;
top: 331px;
margin-left: auto;
margin-right: auto; 

}


footer::before, footer::after{
content: "/";
font-size: 50px;
color: rgb(79, 11, 113);
}

.footercontact {
    Color:white;
    background: #25205B;
    width: 1440px;
    height: 144px;
    margin-left: auto;
    margin-right: auto;
}