body {
    background: conic-gradient(from 180deg at 50% 50%, #fd9f084b 0deg, rgba(253, 160, 8, 0) 181.87deg, #fd9f084b 360deg);
     font-family: 'Verdana', Courier, monospace;
     margin: 0%;
    
    
    }
     
h1 { font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 color: rgb(0, 27, 12);
 }
 
 .active {
     background-color: blueviolet;
     color :white;
     border-radius: 10px;
 }
 .logo {
    position:relative;
    left: 40px;
    bottom: 10spx;
    z-index: 3;
    max-width: 400px;

 }
 header {
     background-image: url('iStock-516189065\ copy.jpg');
     background-size:cover;
     background-repeat: no-repeat;
     border-radius: 10px;
     max-width: 1440px;
     padding-top: 10px;
    margin-left: auto;
     margin-right: auto;
 }

 header{
    color: #fff; 
    position: relative;
}
.squareyeslogo {
    position:absolute;
    left: px;
    z-index: 2;
    size: 100%;
}

.Connecting{
   position: absolute;
   width: 1440px;
   height: 37px;
   left: 0px;
   top: 232px;
   background: rgba(24, 17, 82, 0.8);
   opacity: 0.8;
   z-index: 1;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   }



/*------------------------------NAVIGATION-----------------------------*/
nav {
    position: absolute;
    top: 34px;
    background-color: rgba(88, 70, 167, 0.73);
    z-index: 4;
    border-radius: 10px;
}
nav a {
    color: rgb(228, 227, 227);
    text-decoration: none;
    padding:10px ;
    font-weight: bold;
    z-index: 4;
}     



nav a:hover { 
    text-decoration: underline;
}

nav ul { 
    padding: 20px;

}

/*-----------------------------NAV_FLEX--------------------------*/


nav {
    display: none;

} 

 #menu-checkbox:checked ~ nav {
    display: block;
 }
nav { position: absolute;
 
}

nav a {
    display:  block;
    right: 0px;
}

@media (min-width: 600px) {
    nav{
    display:block;
    position:static;
    }
.hamburger-icon{
    display: none;
}
nav a {
    display: inline-block;
   
}
}

 /*------------------------------------HERO----------------------------------*/
.HomeH2 {
    position: relative;
    left: 104px;
    top: 10px;
}

 .hero {
     background: conic-gradient(from 180deg at 50% 50%, #4e0f3cc2 -232.5deg, #767676 101.25deg, #4e0f3cc2 127.5deg, #767676 461.25deg);
     width: 1440px;
     height: 482px;
     margin: 20px;
     border-radius: 10px;
     color: rgb(62, 34, 34);
     margin-left: auto;
     margin-right: auto;
     display: flex;
}
.HomeH2 {
    position: relative;
    left: 20px;
    
}
.purple {
     width: 260px;
     height: 400px;
     border-radius: 10px;
     
    
 }


  /*----------------------------------TRENDING---------------------------------*/
 .Trending {
     background: conic-gradient(from 180deg at 50% 50%, rgba(74, 142, 157, 0.53) -179.77deg,
    #4a8e9d78 156.82deg, rgba(74, 142, 157, 0.53) 180.23deg, #4a8e9d78 516.82deg);
     width: 1440px;
     height: 484px;
     left: 70px;
     top: 804px;
     border-radius: 10px;
     margin-left: auto;
     margin-right: auto; 
     color: rgb(62, 34, 34);
     flex-wrap: wrap;
     align-items: center;
     display: flex;
     justify-content: space-around;
 }
 .full-width_trending {
    width: 100%;
    position: relative;
    left: 104px;
    top: 10px;
}

 .justereHOME{
    margin:27px;
    border-radius: 10px;
    flex: 1;
 }

/*---------------------------------Collection---CATEGORIES------------------------*/

.Equalspace {
  display: flex;
  
}
.EQUALSPACE-ALIGN1 {
    background-image: url(images/Screenshot\ 2022-11-15\ at\ 17.38.30\ copy.png );
    padding: 80px 240px;
    border-radius: 10px;
    margin: 10px;
    font-weight: bold;
    font-size: 30px;
    display:flex
 
 
    
}

.EQUALSPACE-ALIGN2 {
    background-image: url(images/Screenshot\ 2022-11-15\ at\ 17.53.34\ copy.png);
    padding:80px 240px;
    border-radius: 10px;
    margin: 10px;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    
  }

  .fontstyling{
    background-color: rgba(0, 0, 0, 0.253);
    color: whitesmoke;
    text-decoration: none;
    
  }




 /*----------------------------------SUBSCRIBE-BUTTON-----------------------------*/
.flex {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.full-width {
    width: 100%;
}   

.btn {
    width: 1440px;
    border-radius: 5px;
    height: 80px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
  
}
.bg-red {
    background-color: rgba(255, 25, 0, 0.538);
    opacity: 70%
}

 /*--------------------------------------FOOTER-------------------------------------*/
 footer li { 
         color: #000;
         display: inline-block
 }
 
 

.footerdiv{
    position: absolute;
    font-size: 24px;
    left: 4px;
    top: 2px;
    padding: 30px;
}


 .footer {
     position:relative;
     Color:white;
     background: #25205B;
     opacity: 95%;
     width: 1440px;
     height: 144px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
     border-radius: 10px;
     font-size: 15px;
     color: rgb(79, 11, 113);
}
.footerul{
    display: inline;
    
   
}




 
 /* Checkout ---------------------------------------------------------- */
 /* Checkout ---------------------------------------------------------- */
 /* Checkout ---------------------------------------------------------- */
 /* Checkout ---------------------------------------------------------- */
 
  
 
 .Backgroundmovieset {
    background-image: url(images/Screenshot\ 2022-11-15\ at\ 19.21.05\ copy.png);
    
     position: relative;
     max-width: 1440px;
     height: 620px;
     margin-left: auto;
     margin-right: auto;
     border-radius: 10px;
     margin-top: 10px;
    }

.Yourdetails {

    position: absolute;
    display: flex;
    left: 450px;
    top: 85px;
   background-color: #25205b48;
   border-radius: 10px;
    
 }
.form__input{  
 display: block;
 max-width: 1440px;
 }

.btncheckout {
    position:absolute;   
    left: 827px;
    top: 303px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}
 




 /* Movies--------------------------------------------------------------- */ 
 /* Movies--------------------------------------------------------------- */ 
 /* Movies--------------------------------------------------------------- */ 
 /* Movies--------------------------------------------------------------- */ 
 
 
 .movies {
     background: conic-gradient(from 180deg at 50% 50%, rgba(74, 142, 157, 0.53) -179.77deg, #4A8E9D 156.82deg, rgba(74, 142, 157, 0.53) 180.23deg, #4A8E9D 516.82deg);
     width: 1350px;
     height: 1580px;
     left: 70px;
     top: 331px;
     margin-left: auto;
     margin-right: auto; 
     border-radius: 10px;
     margin: auto;
     padding: 15px;
 }

 .contentmod {
   display: flex;
   flex-wrap: wrap;
   

   
   
 }
 .justere{
    margin: 10px;
    border-radius: 10px;
    flex: 1;
    width: 260px;
    height: 460px;
 }
 .footermovies {
     Color:white;
     position:fix;
     background: #25205B;
     width: 1440px;
     height: 144px;
     margin-left: auto;
     margin-right: auto;
     border-radius: 10px;
     margin-top: 20px;
   
 }
 
 
 /* ABOUT US----------------------------------------------------------- */
 /* ABOUT US----------------------------------------------------------- */
 /* ABOUT US----------------------------------------------------------- */
 /* ABOUT US----------------------------------------------------------- */
 .curtains {
     position: relative; 
     margin-left: auto;
     margin-right: auto;  
     max-width: 1350px;
     margin-top: 10px;
     border-radius: 10px;
 }
 
 .footeraboutus {
    
     Color:white;
     background: #25205B;
     width: 1440px;
     height: 144px;
     margin-left: auto;
     margin-right: auto;
     border-radius: 10px;
     margin-top: 10px;
  }
 

 
 
 /* CONTACT--------------------------------------------------------*/
 /* CONTACT--------------------------------------------------------*/
 /* CONTACT--------------------------------------------------------*/
 /* CONTACT--------------------------------------------------------*/
 
 .curtainscontact {
     position: relative;
     max-width: 1350px;
     margin-left: auto;
     margin-right: auto;
     border-radius: 10px;
     margin-top: 10px;
 }
 .footercontact {
     Color:white;
     background: #25205B;
     width: 1440px;
     height: 144px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 10px;
     border-radius: 10px;
 }