body {
   background: conic-gradient(from 180deg at 50% 50%, #fd9f0880 0deg, rgba(253, 160, 8, 0) 181.87deg, #fd9f0880 360deg);
    font-family: 'Verdana', Courier, monospace;
    margin: 0%;
    
    
}
h1 { font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: rgb(0, 27, 12);
}

nav li {  Display:inline-block;
    padding: 20px;
    margin-top: 100px;
}
nav {
    position: absolute;
    top: 20px;
    right: 0;
}

nav a {
    color: rgb(205, 205, 205);
    text-decoration: none;
    padding:20px ;
    font-weight: bold;
}   
nav a:hover { 
    text-decoration: underline;
}

nav ul {
    padding: 20px;
}
.navflex{
    display: flex;
}

.active {
    background-color: blueviolet;
    color :white;
    border-radius: 10px;
}
.logo {
   position:relative;
   left: 70px;
}


header {
    background-image: url('iStock-516189065\ copy.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    max-width: 1440px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    
}
header {
    position: relative;

}
.squareyeslogo {
    position:absolute;
    left: px;
}


.hero {
    background: conic-gradient(from 180deg at 50% 50%, #4E0F3C -232.5deg, #767676 101.25deg, #4E0F3C 127.5deg, #767676 461.25deg);
    width: 1350px;
    height: 482px;
    margin: 20px;
    border-radius: 10px;
    color: rgb(62, 34, 34);
    margin-left: auto;
    margin-right: auto;
}
.purple {
    width: 260px;
    height: 400px;
    border-radius: 10px;
    margin-top: 0px;
    margin-left: 40px;
}
.Trending {
    background: conic-gradient(from 180deg at 50% 50%, rgba(74, 142, 157, 0.53) -179.77deg, #4A8E9D 156.82deg, rgba(74, 142, 157, 0.53) 180.23deg, #4A8E9D 516.82deg);
    width: 1350px;
    height: 484px;
    left: 70px;
    top: 804px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto; 
    color: rgb(62, 34, 34);
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content: space-around;

  }

footer li { 
        color: #000;
        display: inline-block
}



footer::before, footer::after{
    content: "/";
    font-size: 50px;
    color: rgb(79, 11, 113);
}
.footer {
    position:relative;
    Color:white;
    background: #25205B;
    width: 1440px;
    height: 144px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
    top: 300px;

}
 .subscription {
    background-color: red;
    font-size: 3em;
    position: absolute;
}
.sub {
    position: absolute;
}


/* Checkout ---------------------------------------------------------- */
/* Checkout ---------------------------------------------------------- */
/* Checkout ---------------------------------------------------------- */
/* Checkout ---------------------------------------------------------- */

 .Backgroundmovieset {
    position: relative;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 10px;
    
 }
.Yourdetails {
   max-width: 70px;
   margin-left: auto;
   margin-right: auto;
}
.Purshasedetails {
   max-width: 70px;
   margin-left: auto;
   margin-right: auto;

}
 

.form__input{
display: block;
max-width: 1440px;
}
 
/* Movies--------------------------------------------------------------- */ 
/* Movies--------------------------------------------------------------- */ 
/* Movies--------------------------------------------------------------- */ 
/* Movies--------------------------------------------------------------- */ 


.movies {
    background: conic-gradient(from 180deg at 50% 50%, rgba(74, 142, 157, 0.53) -179.77deg, #4A8E9D 156.82deg, rgba(74, 142, 157, 0.53) 180.23deg, #4A8E9D 516.82deg);
    width: 1350px;
    height: 1365px;
    left: 70px;
    top: 331px;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 10px;
    margin: auto;


 
}
.movies {
   

}
.contentmod {
    border-radius: 10px;
    float: left;
    margin: 20px;
    
}

.footermovies {
    Color:white;
    position:fix;
    background: #25205B;
    width: 1440px;
    height: 144px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}


/* ABOUT US----------------------------------------------------------- */
/* ABOUT US----------------------------------------------------------- */
/* ABOUT US----------------------------------------------------------- */
/* ABOUT US----------------------------------------------------------- */
.curtains {
    position: relative; 
    margin-left: auto;
    margin-right: auto;  
    max-width: 1350px;
    margin-top: 10px;
    border-radius: 10px;
}

.footeraboutus {
   
    Color:white;
    background: #25205B;
    width: 1440px;
    height: 144px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 10px;
 }

 .Aboutparagraph {
      
    
 }


/* CONTACT--------------------------------------------------------*/
/* CONTACT--------------------------------------------------------*/
/* CONTACT--------------------------------------------------------*/
/* CONTACT--------------------------------------------------------*/

.curtainscontact {
    position: relative;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 10px;
}
.footercontact {
    Color:white;
    background: #25205B;
    width: 1440px;
    height: 144px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px;
}