/*VARIABLES*/


:root {
    --border-radius:5px;
    --full-width: 100%;
    --half-width: 50%;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Verdana', Courier, monospace;
    box-sizing: border-box;
}

html, body {
    width: var(--full-width)
}

img {
    max-width: var(--full-width);
    width: auto;
    height: auto;
}



body {
    background: conic-gradient(from 180deg at 50% 50%, #fd9f084b 0deg, rgba(253, 160, 8, 0) 181.87deg, #fd9f084b 360deg);
  max-width: 100%;
    
    }
     
h1 { font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 color: rgb(0, 27, 12);
 }
 /*--------------------------------------------HEADER-------------------------------*/
 .active {
     background-color: rgba(137, 43, 226, 0.771);
     color :white;
      border-radius: var(--border-radius) ;
 }
 .logo {
    position:relative;
    left: 40px;
    bottom: 10spx;
    z-index: 3;
    max-width: 324px;

 }
 header {
    
     background-image: url('iStock-516189065\ copy.jpg');
     background-size:cover;
     background-repeat: no-repeat;
     border-radius: var(--border-radius) ;
     max-width: 1440px;
     padding-top: 10px;
    margin-left: auto;
     margin-right: auto;
     
 }

 header{
    color: #fff; 
    position: relative;
}
.squareyeslogo {
    position:absolute;
    left: px;
    z-index: 2;
    size: 100%;
}

.Connecting{
   position: absolute;
   width: 1440px;
   height: 37px;
   left: 0px;
   top: 149px;
   background: rgba(24, 17, 82, 0.8);
   opacity: 0.8;
   z-index: 1;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   }
.connectinglovers {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
   

}


/*------------------------------NAVIGATION-----------------------------*/
nav {
    position: absolute;
    top: 34px;
    background-color: rgba(88, 70, 167, 0.73);
    z-index: 4;
    border-radius: var(--border-radius) ;
}
nav a {
    color: rgb(228, 227, 227);
    text-decoration: none;
    padding:10px ;
    font-weight: bold;
    z-index: 4;
}     



nav a:hover { 
    text-decoration: underline;
}

nav ul { 
    padding: 20px;

}

/*-----------------------------NAV_FLEX--------------------------*/


nav {
    display: none;

} 

 #menu-checkbox:checked ~ nav {
    display: block;
 }
nav { position: absolute;
 
}

nav a {
    display:  inline-block;
    right: 0px;
}

@media (min-width: 600px) {
    nav{
    display:block;
    position:static;
    }
.hamburger-icon{
    display: none;
}
nav a {
    display: inline-block;
   
}
}

 /*------------------------------------HERO----------------------------------*/
.HomeH2 {
    position: absolute;
    left: 135px;
    font-size:14px ;
    bottom: 18px;
    
}

 .hero {
     background: conic-gradient(from 180deg at 50% 50%, #4e0f3cc2 -232.5deg, #767676 101.25deg, #4e0f3cc2 127.5deg, #767676 461.25deg);
     max-width: 100%;
     max-width: 1440px;
     height: 482px;
     margin: 20px;
     border-radius: var(--border-radius) ;
     color: rgb(62, 34, 34);
     margin-left: auto;
     margin-right: auto;
     display: flex;
     position: relative;
     border: 1px solid rgba(255, 0, 255, 0.548);
}

    

.purple {
     width: 260px;
     height: 400px;
     border-radius: var(--border-radius) ;
     border: 12px solid rgba(80, 11, 80, 0.615);
     position:absolute;
     left: 82px;
     top: 30px;
}

.hero-video {
    position: absolute;
    width: 921px;
    height: 440px;
    left: 416px;
    margin: 20px;
    border-radius: var(--border-radius);
    }

  /*----------------------------------TRENDING---------------------------------*/
 .Trending {
     background: conic-gradient(from 180deg at 50% 50%, rgba(74, 142, 157, 0.53) -179.77deg,
    #4a8e9d78 156.82deg, rgba(74, 142, 157, 0.53) 180.23deg, #4a8e9d78 516.82deg);
     width: 1440px;
     max-width: 100%;
     height: 484px;
     left: 70px;
     top: 804px;
     border-radius: var(--border-radius) ;
     border: 2px solid #699D9A;
     margin-left: auto;
     margin-right: auto; 
     color: rgb(62, 34, 34);
   
  
     align-items: center;
     display: flex;
     justify-content: space-around;
     
 }


 .justereHOME{
    margin: 20px;
    border-radius: var(--border-radius) ;
    border: 12px solid #699D9A;
   
 }

/*---------------------------------Collection---CATEGORIES------------------------*/

.equalspace {
  display: flex;
  grid-template-rows: 1fr ;
  grid-gap: 10px;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
}

.collections {
    background-image: url(images/Screenshot\ 2022-11-15\ at\ 17.38.30\ copy.png);
    height: 170px;
    width: 700px;
    background-size: cover;
    border-radius: var(--border-radius) ;
    
}
.categories {
    background-image: url(images/Screenshot\ 2022-11-15\ at\ 17.53.34\ copy.png);
    height: 170px;
    width: 700px;
    background-size: cover;
    border-radius: var(--border-radius) ;
  
}
.h3_text{
   color: rgb(255, 249, 249);
   font-weight: bold;
   text-decoration: none;
   display: flex;
   justify-content: center;
   font-size: 30px;

   
   

}


 /*----------------------------------SUBSCRIBE-BUTTON-----------------------------*/
.flex {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.full-width {
    width: 100%;
}   

.btn {
    width: 1440px;
    border-radius: var(--border-radius) ;
    height: 80px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
  
}
.bg-red {
    background-color: rgba(105, 2, 146, 0.635);
    
}

 /*--------------------------------------FOOTER-------------------------------------*/
 footer li { 
        
    display: flex;
 
}
 
 

.footerdiv{
    position: absolute;
    font-size: 15px;
    left: 22px;
    top: 70px;
    padding: 20px;
}


 .footer {
     position:relative;
     Color:white;
     background: #25205B;
     opacity: 95%;
     width: 1440px;
     max-width: 100%;
     height: 144px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
     border-radius: var(--border-radius) ;
     color: rgb(255, 255, 255);
     display:flex ;
     justify-content: center;
}
.footerul{
  
    position: relative;
    left: 600px;
    font-size: 30px;
    color: #767676;
}


 
 /* Checkout ---------------------------------------------------------- */
 /* Checkout ---------------------------------------------------------- */
 /* Checkout ---------------------------------------------------------- */
 /* Checkout ---------------------------------------------------------- */
 
  
 
 .Backgroundmovieset {
    background-image: url(images/Screenshot\ 2022-11-15\ at\ 19.21.05\ copy.png);
    
     position: relative;
     max-width: 1440px;
     height: 620px;
     margin-left: auto;
     margin-right: auto;
     border-radius: var(--border-radius) ;
     margin-top: 10px;
    }

.Yourdetails {

    position: absolute;
    display: flex;
    left: 450px;
    top: 85px;
    background-color: #25205b48;
    border-radius: var(--border-radius) ;
    
 }
.form__input{  
 display: block;
 max-width: 1440px;
 }

.btncheckout {
    position:absolute;   
    left: 851px;
    top: 303px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    border-radius: var(--border-radius) ;
}
 




 /* Movies--------------------------------------------------------------- */ 
 /* Movies--------------------------------------------------------------- */ 
 /* Movies--------------------------------------------------------------- */ 
 /* Movies--------------------------------------------------------------- */ 

 .movies {
     background: conic-gradient(from 180deg at 50% 50%, rgba(74, 142, 157, 0.53) -179.77deg, #4a8e9d79 156.82deg, rgba(74, 142, 157, 0.53) 180.23deg, #4a8e9d79 516.82deg);
     width: 1440px;
     max-width: 100%;
     height: 1380px;
     left: 70px;
     top: 331px;
     margin-left: auto;
     margin-right: auto; 
     border-radius: var(--border-radius) ;
     border: 2px solid #699D9A;
     display: flex;


    

    }
.justere{
    margin:20px;
    border-radius: var(--border-radius) ;
    border: 12px solid #699D9A;
    justify-content: center;
 
   
   
 }

 
 /* ABOUT US----------------------------------------------------------- */
 /* ABOUT US----------------------------------------------------------- */
 /* ABOUT US----------------------------------------------------------- */
 /* ABOUT US----------------------------------------------------------- */
 .curtains {
     position: relative; 
     margin-left: auto;
     margin-right: auto;  
     width: 1440px;
     max-width: 100%;

     margin-top: 10px;
     border-radius: var(--border-radius) ;
 }
 .Aboutparagraph {
    position: relative;
    color: #fff;
    max-width: 460px;
    top: 400px;
    left: 340px;
    z-index: 3;

 }
 .aboutus-h2 {
    position: absolute;
    color: #fff;
    max-width: 460px;
    top: 340px;
    left: 340px;
    z-index: 4;


 }

 
 /* CONTACT--------------------------------------------------------*/
 /* CONTACT--------------------------------------------------------*/
 /* CONTACT--------------------------------------------------------*/
 /* CONTACT--------------------------------------------------------*/
 
 .curtainscontact {
     position: relative;
     width: 1440px;
     max-width: 100%;
     margin-left: auto;
     margin-right: auto;
     border-radius: var(--border-radius) ;
     margin-top: 10px;
 }


 /*-------------------------------PRODUCTPAGE-DUNE-------------------*/
  /*-------------------------------PRODUCTPAGE-DUNE-------------------*/
   /*-------------------------------PRODUCTPAGE-DUNE-------------------*/
    /*-------------------------------PRODUCTPAGE-DUNE-------------------*/

.Prod_Back_Dune {
     background-image: url(images/DUNE\ BACKGROUND.png);
     position: relative;
     max-width: 1440px;
     height: 620px;
     margin-left: auto;
     margin-right: auto;
     border-radius: var(--border-radius) ;
     object-fit: cover;
     align-items: center;

}

.DUNEPICture {
    
    position: absolute;
    left: 50px;
    top: 80px;
    
}

.purchase {
    position:absolute;   
    left: 380px;
    top: 435px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    border-radius: 50px;
}
 .Synopsis {
    position: relative;
    max-width: 300px;
    color: #fff;
    left: 380px;
    top:200px
 }


 /*----------------------------PurchaseSuccess------------------------*/
 /*----------------------------PurchaseSuccess------------------------*/
 /*----------------------------PurchaseSuccess------------------------*/
 /*----------------------------PurchaseSuccess------------------------*/


.PurchaseSuccess {
   background-image: url(images/movie\ 2020\ 49.jpg);
 
   position: relative;
   max-width: 1440px;
   height: 620px;
   margin-left: auto;
   margin-right: auto;
   border-radius: var(--border-radius) ;
   background-repeat: no-repeat;
   background-size: cover;
   


}
.Successbutton {
    position:fixed;    
    left: 600px;
    top: 1000px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    border-radius: 50px;
    background-color: greenyellow;
    border: 2px black;
}

.PurchaseSuccessbtn {  
    position:fixed;    
    left: 200px;
    top: 900px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    padding: 30px 600px;
    border-radius: 5px;
    background-color: rgba(172, 255, 47, 0.826);
    border: 2px black;

}

.Success {
    position: relative;
}



/*--------------UNDERCONSTRUCTION-------------------------------*/
/*--------------UNDERCONSTRUCTION-------------------------------*/
/*--------------UNDERCONSTRUCTION-------------------------------*/
/*--------------UNDERCONSTRUCTION-------------------------------*/

.under-constructiom-images {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 40%;


}
.under-construction-text {
    position:absolute;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
  left: 400px;
 bottom: 400px; ;
}
.main_collections {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: var(--border-radius);

}